# 1. 封杀所有 Keras 模型和权重文件（防止超过 100MB 炸毁仓库）
*.keras
*.h5
*.hdf5

# 2. 封杀训练日志（一堆没用的垃圾文件）
logs/

# 3. 封杀大数据集文件（代码留着就行，数据自己本地存着）
*.csv
*.tsv
*.zip

# 4. 封杀 Mac 系统的恶心隐藏缓存文件
.DS_Store

*.mmap
*.pkl
*.csv
**/.ipynb_checkpoints/
